.rulea {
color:#FF5733;
 font-family:Algerian,garamond,serif;
 background-color:yellow
 

}
h1, h2, h3 {
   color: #FF0000;
   font-weight: normal;
   letter-spacing: .4em;
   margin-bottom: 1em;
   text-transform: lowercase;
   font-family: Algerian,garamond,serif;
   background-color:#F3FF33
}
.ruleb {
            background-color: linen;
            color: #FF00FF;
            margin-left: 40px;
            text-align: center;
        
    font-family: Wide Latin,garamond,serif;
}
.rulec {
	color: #ffa500
    font-style: italic, oblique;
	font-family:Forte,garamond,serif;
	background-color: #DAF7A6;
}



#IDa {
	color:#FF33D7
	font-family:Times New Roman, Times, serif;
	font-size: 1.3em;
	      font-weight:bold;
background-color: #00FF00;
	font-variant:small-caps;
	padding-right: 15px; border:1px solid black;
     
      
      <padding-right: 5%; border:1px solid black;
      
}

#IDb{
	color: #C133FF
	font-family:georgia,garamond,serif;
	padding-left: 15px; border:1px solid blue;
     
      background-color: #00FFFF;
    padding-left: 15%; border:1px solid black;
      
}

#IDc{
	color:#3371FF
	background-color: #FF0000;
	font-style:italic;
	padding-top: 15px; border:1px solid brown;
     
    padding-top: 5%; border:1px solid brown;
      
}

